@media screen and (min-width:0px) and (max-width:768px) {
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.topnav {
  
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: auto;
    
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: Montserrat;
}
a:hover{
    color: #00B9F1;
}
.img {
    width: 100px;
    position: sticky;
    left: 200px;
}
.img2 {
    position: sticky;
    right: 0px;
    height: 30px;
    
}
.img3 {
    position: sticky;
    left: 200px;
    margin-left: 10PX;
    background-color: #00B9F1;
    height: 17px;
    width: 60px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

.img3:hover {
    background-color: #002E6E;
    cursor: pointer;
}

.kyc {
    background-color: #e8f8fd;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 7px;
    
}

.marquee-txt {
    font-weight: bold;
    font-size: 20px;
    word-spacing: 10px;
    color:  #ff0000;
    font-family: Lato;
}

.txt {
    margin-top: 0px;
    margin-left: 0px;
}

.img4 {
    height: 100px;
}

.txt1 {
    font-size: 25px;
    
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ht{
    height: 50px;
}

.img5 {
    height: 150px;
    margin-left: 61.5%;
    margin-top: -400px;
}

.txt3 {
    font-weight: bold;
    font-size: 13px;
    word-spacing: 2px;
    font-family: 'Ubuntu;
}

.btn {
    width: 200px;
    height: 40px;
    background-color: black;
    color: #e8f8fd;
    border-radius: 40px;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
}

.btn:hover { 
    background-color: white;
    box-shadow: 3.5px 3px 1px 1px #808080;
}

.recharge {
    background-color: #00B9F1;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.heading {
    font-size: 30px;
    color: #e8f8fd;
    padding-left: 100px;
    padding-top: 20px;
    font-weight: bold;
    font-family: Edu QLD Beginner;
    margin-bottom: 30px;
}

/*card main container*/
.card-container {
    display: flex;
    flex-direction: column;
    margin: 200px;
    align-items: space-between;
    
}

/*payment card container*/
.card {
    background-color: #00B9F1;
    height: 200px;
    width: 100px;
    padding: 20px;
}


.img6 {
    height: 45px;
}


.c-txt {
 
    font-size: 17px;
    font-weight: bold;
    color: #e8f8fd;
    
}

.hvr {
   
    color:  #ccc;
    cursor: pointer;
}

.hvr:hover {
    color:#e8f8fd;
    cursor: pointer;
}

/*payment card hover effect*/
.c-txt:hover {
    color: #002E6E;
    cursor: pointer;
}

.buy {
    background-color: #002E6E;
    width: 100%;
    height: auto;
}

.bg-color {
    background-color: #002E6E;
}

.img7 {
    height: 240px;
    margin-left: 74.5%;
    margin-top: -230px;
}

.img8{
    height: 415px;
    margin-left: 73%;
    margin-top: -430px;
}
.img9{
    height: 355px;
    margin-left: 66.5%;
    margin-top: -230px;
}
.img10{
    height: 215px;
    margin-left: 72%;
    margin-top: -630px;
}



.size {
    font-size:20px ;
}
/*
.box {
    background-color: white;
    height: 600px;
    width: auto;
    border-radius: 20px;
    box-shadow: 4px 8px 3px 2px #808080;
  
}
*/
/*
.bx{
    background-color: white;
    height: 600px;
    border-radius: 20px;
    box-shadow: 4px 8px 3px 2px #808080;
  
}
*/
/*
.bx:hover{
    background-color: #ccc;
    height: 600px;
    margin: 95px;
    border-radius: 20px;
    box-shadow: 5px 9px 3.5px 3px #808080;
    transition: 0.5s;
    color: #e8f8fd;
    cursor: pointer;
    font-family: algerian;
  
}
*/


.big-box{
     background-color: #e8f8fd;
     height: auto; 
     width: 100%;
     
}
.btn1{
    width: 140px;
    height: 30px;
    background-color:#002E6E ;
    color: #e8f8fd;
    border-radius: 40px;
    font-weight: bold;
    font-size:15px;
    margin-top: 20px;
}
.btn1:hover{
    background-color: #00B9F1;
    cursor: pointer;
}
.dis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ctr{
    background-color: white;
    min-width: 280px;
    min-height:365px;
    color: black;
    margin: 50px;
    border-radius: 10px;
}
.ctr:hover{
    background-color: #00B9F1;
    color: #e8f8fd;
    box-shadow: 5px 4.5px 3px 3.5px #808080;
    transition: 0.5s;
    cursor: pointer;
}
